# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

*.cmd
.tmp_versions/
*.mod.*
modules.order
Module.symvers

# Target
asynctest
dataalign
datasize
inb
inl
inp
inw
load50
mapcmp
mapper
nbtest
netifdebug
outb
outl
outp
outw
polltest
setconsole
setlevel
